<div class="container p-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>道の駅 <%= @road_station.name %></h1>
      <div class="card">
        <div class="card-body">
        <% if @stamp_image.present? %>
      <%= image_tag @stamp_image.image %>
      <% else %>
       <%= form_with model: @stamp_image, local: true do |form| %>
        <%= form.label :image, "道の駅の写真" %>
        <%= form.file_field :image %>
        <br><br>
      
        <%= form.label :design, "スタンプラリーデザインありなし" %>
        <%= form.select :design, options_for_select([['あり', true], ['なし', false]]), { onchange: 'updateBorder(this.value)' } %>
        <br><br>
        <%= form.submit "スタンプラリーを作成" %>
      <% end %>
      
      <% end %>
      <br>
          <p><strong>場所:</strong> <%= @road_station.location %></p>
          <p><strong>電話番号:</strong> <%= @road_station.phone_number %></p>
          <p><strong>営業時間:</strong> <%= @road_station.business_hours %></p>
          <p><strong>施設設備:</strong> <%= @road_station.facility_amenities %></p>
          <%= link_to '編集', edit_road_station_path(@road_station), class: "btn btn-secondary" %>
          <%= link_to '戻る', road_stations_path, class: "btn btn-primary" %>
          
        </div>
      </div>
    </div>
  </div>
</div>