<header>
  <nav class="navbar navbar-expand-lg navigation navbar-dark bg-success">
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' , width: '70px', class: 'logo-image' %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class="container-fluid ">
    <form>
    <div class="input-group mb-2"><input class="form-control" placeholder="検索ワード" type="search"/>
    <div class="input-group-append"><input type="submit" value="検索" class="btn btn-primary"/></div>
    </div>
    </form>
  </div>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide h3'>
          <%= link_to '道の駅', '#', class: 'nav-link dropdown-toggle text-white', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-board-menu' %>
          <div class='dropdown-menu dropdown-menu-end'>
          <%= link_to '道の駅一覧', road_stations_path, class: 'dropdown-item' %>
            <%= link_to '道の駅登録', new_road_station_path, class: 'dropdown-item' %>
            <%= link_to '道の駅検索', '#', class: 'dropdown-item' %>
          </div>
        </li>

        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to '#', class: 'nav-link', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-profile' do %>
            <%= image_tag 'muji.png', class: 'rounded-circle mr15', width: '70', height: '70' %>
          <% end %>
          <div class='dropdown-menu dropdown-menu-end'>
            <div class='dropdown-item'><%= current_user.decorate.full_name %></div>
            <div class='dropdown-divider'></div>
            <%= link_to 'プロフィール', user_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>