<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>道めぐ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %> <!-- ヘッダーの読み込み -->
    <%= render 'shared/flash_message' %>
<%= yield %> <!-- コンテンツの表示 -->
<%= render 'shared/footer' %> <!-- フッターの読み込み -->
<script>
    function updateBorder(value) {
      const imageElement = document.querySelector('#image-preview');
      if (value === 'true') {
        imageElement.classList.add('border-class');
      } else {
        imageElement.classList.remove('border-class');
      }
    }
  </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
